img{
    height: 50px;
    width: 50px;
}
a.navbar-brand {
    font-size: 25px;
    color: rgb(91, 86, 86);
}
input.search.form-control {
    width: 290%;
    background-color: rgb(223, 223, 223);
    margin-left: 100px;
    height: 45px;
}
i svg{
    margin: 10px;
    width: 20px;
    height: 20px;
}
a svg{
    margin: 10px;
    width: 20px;
    height: 20px;
}
tbody, tfoot, th, thead, tr {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 20px;
}
tr{
    border: 1px solid #000;
}